<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>チャット</title>
    <style>
      input { diplay:     block; }
      ul    { list-style: none; }
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
      {{range .PastMessages}}
      <strong>{{.Name}}</strong>
      <span>{{.Message}}</span><br />
      {{end}}
    WebSocketを使ったチャットアプリケーション
    <form id="chatbox">
      <p id="name">{{.Name}}</p>
      <textarea></textarea>
      <input type="submit" value="送信"/>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $(function(){
      var socket = null;
      var msgBox = $("#chatbox textarea");
      var messages = $("#messages");
      const name = $("#name").text();
      //WebSocket通信に関する処理
      if(!window["WebSocket"]){
        alert("エラー：WebSocketに対応していないブラウザです");
      }else{
        socket = new WebSocket("ws://localhost:8080/room");
        socket.onopen = function(){
          var first_time = {
            "FirstTime":true,
            "Content":{
              "Name":name
            }
          };
          socket.send(JSON.stringify(first_time))
        }
        socket.onclose = function(){
          alert("接続が終了しました");
        };
        socket.onmessage = function(e){
          var msg = JSON.parse(e.data);
          messages.append(
            $("<li>").append(
              $("<strong>").text(msg.Content.Name + ":"),
              $("<span>").text(msg.Content.Message)
            )
          );
        };
      }
      //チャットの送信ボタンが押された場合の処理
      $("#chatbox").submit(function(){
        if(!msgBox.val()) return false;
        if(!socket){
          alert("エラー：WebSocket通信が行われていません");
          return false;
        }
        var data = {
          "FirstTime":false,
          "Content":{
            "Message":msgBox.val()
          }
        };
        console.log(JSON.stringify(data));
        socket.send(JSON.stringify(data));
        msgBox.val("");
        return false;
      });
    });
    </script>
  </body>
</html>
